{% extends 'base.html.twig' %}

{% block title %}Edit ModelesDeSoin{% endblock %}

{% block body %}
    <h1>Edit ModelesDeSoin</h1>

    {{ include('modeles_de_soin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('modeles_de_soin_index') }}">back to list</a>

    {{ include('modeles_de_soin/_delete_form.html.twig') }}
{% endblock %}
