{% extends 'base.html.twig' %}

{% block title %}New ModelesDeSoin{% endblock %}

{% block body %}
    <h1>Create new ModelesDeSoin</h1>

    {{ include('modeles_de_soin/_form.html.twig') }}

    <a href="{{ path('modeles_de_soin_index') }}">back to list</a>
{% endblock %}
