<form method="post" action="{{ path('objectifs_ethiques_delete', {'id': objectifs_ethique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objectifs_ethique.id) }}">
    <button class="btn">Delete</button>
</form>
