{% extends 'base.html.twig' %}

{% block title %}New ObjectifsEthiques{% endblock %}

{% block body %}
    <h1>Create new ObjectifsEthiques</h1>

    {{ include('objectifs_ethiques/_form.html.twig') }}

    <a href="{{ path('objectifs_ethiques_index') }}">back to list</a>
{% endblock %}
