{% extends 'base.html.twig' %}

{% block title %}New EfficaciteME{% endblock %}

{% block body %}
    <h1>Create new EfficaciteME</h1>

    {{ include('efficacite_m_e/_form.html.twig') }}

    <a href="{{ path('efficacite_m_e_index') }}">back to list</a>
{% endblock %}
